{% extends 'base.html.twig' %}

{% block title %}
    Gérer les lieu
{% endblock %}

{% block body %}
    <h1>Gérer les lieu</h1>
    <div class="card shadow-sm " style="margin: 20px">
    <div class="card-body">

    {{ form_start(form) }}
    <div class="mb-3">

        {{ form_row(form.search, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Rechercher</button>
    {{ form_end(form) }}

    <hr>

        <div class="table-responsive">
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Lieu</th>
            <th>Rue</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Ville</th>
            {% if not app.session.get('is_mobile') %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for lieu in lieus %}
            <tr>
                <td>{{ lieu.nom }}</td>
                <td>{{ lieu.rue }}</td>
                <td>{{ lieu.latitude }}</td>
                <td>{{ lieu.longitude }}</td>
                <td>{{ lieu.ville.nom }}</td>
                <td>
                    {% if not app.session.get('is_mobile') %}
                    <a href="{{ path('lieu_edit', {id: lieu.id}) }}"
                       class="btn btn-sm btn-warning">Modifier</a>
                    <a href="{{ path('lieu_delete', {id: lieu.id}) }}"
                       class="btn btn-danger btn-sm">Supprimer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune lieu trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if not app.session.get('is_mobile') %}
        <a href="{{ path('add_lieu') }}" class="btn btn-success">Ajouter</a>
        {% endif %}
            </div>
    </div>
    </div>
{% endblock %}