{% extends 'base.html.twig' %}

{% block title %}
    Profile de {{ participant.pseudo is defined ? participant.pseudo : participant.nom }}
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center" style="margin-top: 20px;">
    <div class="card shadow-sm " style="margin: 20px ;width: 500px;">
        <div class="card-body">
    <h1 class="mb-4">
        {# On affiche le pseudo si la propriété existe, sinon on peut afficher le nom #}
        {{ participant.pseudo is defined ? participant.pseudo : participant.nom }}
    </h1>

    {% if participant.maPhoto %}
        <div style=" filter: drop-shadow(1px 1px 4px rgba(0,41,77,0.84));"><img src="{{ asset('uploads/' ~ participant.maPhoto) }}"
                                                                                alt="Photo de profil"
                                                                                style="max-width: 150px; border-radius: 50%;">
        </div><br>
    {% else %}
        <p>Aucune photo de profil</p>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <strong>Prénom :</strong> {{ participant.prenom }}
            </div>
            <div class="mb-3">
                <strong>Nom :</strong> {{ participant.nom }}
            </div>
            <div class="mb-3">
                <strong>Téléphone :</strong> {{ participant.telephone }}
            </div>
            <div class="mb-3">
                <strong>Email :</strong> {{ participant.mail }}
            </div>
            <div class="mb-3">
                <strong>Ville de rattachement :</strong>
                {# Exemple : si vous avez un champ site ou ville #}
                {{ participant.site ? participant.site.nom : 'N/A' }}
            </div>
            <div style="display: flex; flex-direction: row; gap: 12px">
                <a href="javascript:history.back(1)" class="btn btn-primary">Retour</a>
                {% if app.user.userIdentifier == participant.userIdentifier %}
                <a href="{{ path('modifier_mon_profil') }}" class="btn btn-primary" style="width: fit-content">
                    Enregistrer
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}

