{% extends 'base.html.twig' %}

{% block title %}Groupe index{% endblock %}

{% block body %}
<div class="col-md-9 mb-4" style="margin-top: 20px">
    <div class="card shadow-sm">
        <div class="card-body">
    <h1>Mes Groupes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in mesGroupes %}
            <tr>
                <td>{{ groupe.nom }}</td>
                <td>
                    <a href="{{ path('app_groupe_show', {'id': groupe.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_groupe_edit', {'id': groupe.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Tu ne possède aucun groupes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('app_groupe_new') }}" class="btn btn-primary">Créer un groupe</a>

            <hr>
            <h1>Groupes auxquels j'appartiens</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for groupe in groupesOuJeSuis %}
            <tr>
                <td>{{ groupe.nom }}</td>
                <td>
                    <a href="{{ path('app_groupe_show', {'id': groupe.id}) }}" class="btn btn-primary">show</a>
                    {% if app.user.id == groupe.createur.id%}
                    <a href="{{ path('app_groupe_edit', {'id': groupe.id}) }}" class="btn btn-primary">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Tu n'a aucun groupes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>

{% endblock %}
