{% extends 'base.html.twig' %}

{% block title %} Liste de sorties {% endblock %}

{% block body %}
    {% for sortie in sorties %}
        <h2>{{ sortie.nom }}</h2>
        <p>{{ sortie.infosSortie }}</p>
        <p>durée : {{ sortie.dureeEnHeures }} h</p>
        <p>commence à {{ sortie.dateHeureDebut.format('d/m/Y H:m') }}</p>
        <p>inscriptions à partir de {{ sortie.dateOuverture.format('d/m/Y H:m') }} jusqu'à {{ sortie.dateLimiteInscription.format('d/m/Y H:m') }}</p>
        <p>nombre d'inscrit maximum {{ sortie.nbInscriptionsMax }}</p>

    {% endfor %}

{% endblock %}