{% extends 'base.html.twig' %}

{% block title %} Liste de sorties {% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Liste des Sorties</h1>
        {% for sortie in sorties %}
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ sortie.nom }}</h5>
                    <p class="card-text"><strong>Infos Sortie:</strong> {{ sortie.infosSortie }}</p>
                    <p class="card-text"><strong>Durée:</strong> {{ sortie.dureeEnHeures }} h</p>
                    <p class="card-text"><strong>Commence à:</strong> {{ sortie.dateHeureDebut.format('d/m/Y H:m') }}</p>
                    <p class="card-text"><strong>Inscriptions:</strong> à partir de {{ sortie.dateOuverture.format('d/m/Y H:m') }} jusqu'à {{ sortie.dateLimiteInscription.format('d/m/Y H:m') }}</p>
                    <p class="card-text"><strong>Nombre d'inscrits max:</strong> {{ sortie.nbInscriptionsMax }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
