{% extends 'base.html.twig' %}

{% block title %}
    Afficher une sortie
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Afficher une sortie</h1>
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <dl class="row">
                        <div class="col-12 mb-3">
                            <h2 class="fw-bold">{{ sortie.nom }}</h2>
                        </div>

                        <div class="col-md-6 mb-2">
                            <p style="font-size: 120%;">
                                <strong>Date :</strong> {{ sortie.dateHeureDebut|date('d/m/Y') }} à {{ sortie.dateHeureDebut|date('H:i') }}
                            </p>
                        </div>

                        <div class="col-md-6 mb-2">
                            <p style="font-size: 120%;">
                                <strong>Durée estimée :</strong> {{ sortie.dureeEnHeures }} minutes
                            </p>
                        </div>

                        <div class="col-md-12 mb-3 text-muted">
                            <p>Vous avez jusqu'à <strong>{{ sortie.dateLimiteInscription|date('H:i') }}</strong> le <strong>{{ sortie.dateHeureDebut|date('d/m/Y') }}</strong> pour vous inscrire.</p>
                        </div>

                        <div class="col-md-6 mb-2">
                            <p><strong>Fait par :</strong> {{ sortie.organisateur.pseudo }}</p>
                        </div>

                        <div class="col-md-12">
                            <div class="card mb-3 shadow-sm">
                                <div class="card-body">
                                    <h4 class="mb-2">À propos de la sortie :</h4>
                                    <p>{{ sortie.infosSortie }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-2">
                            <p><strong>Places disponibles :</strong> {{ sortie.nbInscriptionsMax }}</p>
                        </div>

                        <div class="col-md-6 mb-2">
                            <p>
                                <strong>Lieu :</strong> {{ sortie.lieu.nom }}, {{ sortie.lieu.rue }}
                                ({{ sortie.lieu.ville.nom }} - {{ sortie.lieu.ville.codePostal }})
                            </p>
                        </div>

                        <div class="col-md-12 text-muted">
                            <p><strong>Coordonnées GPS :</strong> Latitude : {{ sortie.lieu.latitude }}, Longitude : {{ sortie.lieu.longitude }}</p>
                        </div>
                    </dl>

                </div>
            </div>
                {% if sortie.participants | length < sortie.nbInscriptionsMax and app.user not in sortie.participants  %}
                <a href="/show/{{ sortie.id }}/add-participant"><button class="btn btn-primary btn-sm" >S'inscrire</button></a>
                {% endif %}

                {% if app.user in sortie.participants  %}
                    <a href="/show/{{ sortie.id }}/remove-participant"><button class="btn btn-primary btn-sm" >Se désinscrire</button></a>
                {% endif %}

            <hr>

            <h3 class="mb-3">Liste des participants inscrits</h3>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom complet</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in sortie.participants %}
                    <tr>
                        <td><a class="part-link" href="{{ path('afficher_participant',{'id':participant.id}) }}">{{ participant.pseudo }}</a></td>
                        <td>{{ participant.nom }} {{ participant.prenom }} </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Aucun participant inscrit pour le moment</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

