{% extends 'base.html.twig' %}

{% block title %}
    Afficher une sortie
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Afficher une sortie</h1>

            <dl class="row">
                <dt class="col-sm-4">Nom de la sortie</dt>
                <dd class="col-sm-8">{{ sortie.nom }}</dd>

                <dt class="col-sm-4">Date/Heure de la sortie</dt>
                <dd class="col-sm-8">{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</dd>

                <dt class="col-sm-4">Date limite d'inscription</dt>
                <dd class="col-sm-8">{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</dd>

                <dt class="col-sm-4">Nombre de places</dt>
                <dd class="col-sm-8">{{ sortie.nbInscriptionsMax }}</dd>

                <dt class="col-sm-4">Durée</dt>
                <dd class="col-sm-8">{{ sortie.dureeEnHeures }} minutes</dd>

                <dt class="col-sm-4">Description et infos</dt>
                <dd class="col-sm-8">{{ sortie.infosSortie }}</dd>

                <dt class="col-sm-4">Ville organisatrice</dt>
                <dd class="col-sm-8">
                    {{ sortie.site.nom }}
                </dd>

                <dt class="col-sm-4">Lieu</dt>
                <dd class="col-sm-8">
                    {{  sortie.lieu.nom }}
                </dd>

                <dt class="col-sm-4">Rue</dt>
                <dd class="col-sm-8">
                    {{ sortie.lieu.rue }}
                </dd>

                <dt class="col-sm-4">Code postal</dt>
                <dd class="col-sm-8">
                    {{  sortie.lieu.ville.codePostal  }}
                </dd>

                <dt class="col-sm-4">Latitude</dt>
                <dd class="col-sm-8">
                    {{  sortie.lieu.latitude }}
                </dd>

                <dt class="col-sm-4">Longitude</dt>
                <dd class="col-sm-8">
                    {{ sortie.lieu.longitude }}
                </dd>
            </dl>
            {% if sortie.participants | length < sortie.nbInscriptionsMax %}
            <a href="/show/{{ sortie.id }}/add-participant"><button>S'inscrire</button></a>
            {% endif %}
            <hr>

            <h3 class="mb-3">Liste des participants inscrits</h3>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom complet</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in sortie.participants %}
                    <tr>
                        <td>{{ participant.mail }}</td>
                        <td>{{ participant.nom }} {{ participant.prenom }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Aucun participant inscrit pour le moment</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

