{% extends 'base.html.twig' %}

{% block title %}
    Gérer les villes
{% endblock %}

{% block body %}
    <h1>Gérer les villes</h1>
    <div class="card shadow-sm " style="margin: 20px ">
    <div class="card-body">
    {{ form_start(form) }}
    <div class="mb-3">

        {{ form_row(form.search, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-primary" style="float: right; margin-right: 10%">Rechercher</button>
    {{ form_end(form) }}

    <hr>

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Ville</th>
            <th>Code postal</th>
            {% if not app.session.get('is_mobile') %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    {% if not app.session.get('is_mobile') %}
                    <a href="{{ path('ville_edit', {id: ville.id}) }}"
                       class="btn btn-sm btn-warning">Modifier</a>
                    <a href="{{ path('ville_delete', {id: ville.id}) }}"
                       class="btn btn-danger btn-sm">Supprimer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune ville trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if not app.session.get('is_mobile') %}
            <a href="{{ path('add_ville') }}" class="btn btn-success">Ajouter</a>
        {% endif %}
    </div>
    </div>
{% endblock %}