<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg">
    <div class="container-fluid">
        <a href="{{ path('sortie_list') }}" title="Revenir à l'accueil">
            <img style="width: 20px;height: auto;transform: scale(6.5);margin-left: 15px; margin-right: 20px;" src="{{ asset('img/logoblanc.png') }}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if app.user %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sortie_list') }}">Les Sorties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sortie_create') }}">Créé une Sortie</a>
                </li>
                <li class="d-flex align-items-center ms-auto">
                    <a class="nav-link" href="{{ path('ville_list') }}">Liste des villes</a>
                </li>
                <li class="d-flex align-items-center ms-auto">
                        <a class="nav-link" href="{{ path('lieu_list') }}">Ajouter un lieu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
                </li>
                    {#                    {% if is_granted("ROLE_ADMIN")  %}#}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('inscription_participant') }}">Inscription</a>
                        </li>
                    {#                    {% endif %}#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('upload_csv') }}">Inscription par csv</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('inscription_participant') }}">Inscription</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% if app.user %}
            <div style="font-size: 20px; color: #cccccc ; padding-right: 55px" > Bonjour: {{ app.user.pseudo }} </div>
            <li class="d-flex align-items-center ms-auto">
                <a class="nav-link" href="{{ path('mon_profil') }}">Mon profil</a>
            </li>
        {% endif %}
    </div>
</nav>